<!DOCTYPE html>
<html>
<head>
  <title>UI Design Pilot Study</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="content">
      <div class="progress">
          <div class="completed" style="width: {{100*completed_count/total_count}}%"></div>
          <div class="status">Completed {{completed_count}} of {{total_count}} questions ({{(100*completed_count)//total_count}}%)</div>
        </div> 
      
    <h1>Thank you for your participation.</h1>

    <p>To complete the HIT, please enter this code on Mechanical Turk: <strong>{{code}}</strong></p>

  </div>
</body>
</html>